@model ToDoViewModel

<form asp-action="Insert" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <label asp-for="ToDo.Title" class="form-label"></label>
            <input id="Todo_Id" asp-for="ToDo.Id" type="hidden" class="form-control" />
            <input id="Todo_Title" asp-for="ToDo.Title" class="form-control" />
            <label asp-for="ToDo.Type" class="form-label"></label>
            <select id="Todo_Type" asp-for="ToDo.Type" class="form-control">
                <option value="0">Daily</option>
                <option value="1">Weekly</option>
                <option value="2">Monthly</option>
                <option value="3">Yearly</option>
            </select>
            <span asp-validation-for="ToDo.Title" class="text-danger"></span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
            <input type="submit" id="form-button" class="btn btn-success" value="Add Todo" />
        </div>
    </div>

</form>